{% extends 'base.html.twig' %}

{% block content_title %}Refactoring Workshop{% endblock %}

{% block content %}
    <ul>
        <li>
            <a href="{{ path('app_show_clock') }}" class="font-medium text-indigo-600 hover:text-indigo-500">Time Machine</a>
        </li>
    </ul>
{% endblock %}
